#left_eye {
    background-color: black;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.face {
   background-color: yellow;
   display: block ;
    
    width: auto;
    
}
.heads {
    background-color: blue;
}